flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c9f952b.3f4fcb","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"${MQTT_HOST}","port":"${MQTT_PORT}","tls":"c8ae2d26.31192","clientid":"${MQTT_CLIENT_ID}","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c8ae2d26.31192","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"${MQTT_CA_CERT}","certname":"","keyname":"","caname":"","servername":"${MQTT_HOST}","verifyservercert":true},{"id":"f9398568.ee4198","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"${WWW}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":110,"wires":[["7d1a0bf1.761ae4"]]},{"id":"7d1a0bf1.761ae4","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":160,"wires":[]},{"id":"2c8690ca.19a18","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["a3bc1b11.2cf0e8"]]},{"id":"752c8b7.512a774","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":420,"y":340,"wires":[]},{"id":"a3bc1b11.2cf0e8","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":340,"wires":[["752c8b7.512a774"]]},{"id":"b7ac8ac7.830538","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"1c9f952b.3f4fcb","x":90,"y":560,"wires":[["9feb21c2.3387f"]]},{"id":"9feb21c2.3387f","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":560,"wires":[]},{"id":"5a5b3ae4.deb084","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["c2fad80e.d248e8"]]},{"id":"c2fad80e.d248e8","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":460,"wires":[["40d333a.552e2cc"]]},{"id":"40d333a.552e2cc","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"1c9f952b.3f4fcb","x":410,"y":480,"wires":[]}]