flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9398568.ee4198","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":110,"wires":[["7d1a0bf1.761ae4"]]},{"id":"7d1a0bf1.761ae4","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":160,"wires":[]},{"id":"2c8690ca.19a18","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["a3bc1b11.2cf0e8"]]},{"id":"752c8b7.512a774","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":420,"y":340,"wires":[]},{"id":"a3bc1b11.2cf0e8","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":340,"wires":[["752c8b7.512a774"]]}]